<!doctype html>
<!--[if lt IE 7]><html class="ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Drag'n Drop</title>
    <meta name="description" content="Exercise for the Adobe/Day engineering team">
    <meta name="author" content="Gabriel Walt, gabriel.walt@gmail.com">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
document.documentElement.className+=' js';
/*@cc_on (function(){var e=['abbr','article','aside','audio','canvas','details','figcaption','figure','footer','header','hgroup','mark','meter','nav','output','progress','section','summary','time','video'];for (var i = e.length; i-- > 0;) document.createElement(e[i]);})(); @*/
    </script>
</head>

<body>
    <header>
        <h1>{{title}}</h1>
    </header>
    <div id="content" class="content">
        {{#content}}
            <section id="element-{{id}}" class="element">
                <header>
                    <h3>{{id}}</h3>
                    <h2>{{title}}</h2>
                </header>
                <p class="weight"><span class="legend">Weight</span> <span class="value">{{weight}}</span></p>
                <p class="density"><span class="legend">Density</span> <span class="value">{{density}}</span></p>
            </section>
        {{/content}}
    </div>
    <footer>
        <p>{{author}}</p>
    </footer>
    <script defer src="/js/jquery.js"></script>
    <script defer src="/js/jquery-dragndrop.js"></script>
    <script defer src="/js/script.js"></script>
</body>
</html>
