/* Author: Gabriel Walt */

body {
	padding: 10px;
	color: #eee;
	background: #444;
}

/* The columns of the dragndropMulti.html template */

.multi {
	overflow: hidden;
}
.multi .content {
	float: left;
	width: 48%;
	margin-right: 10px;
}

/* The element */

.element {
	display: block;
	position: relative;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid;
	border-color: #999 #777 #666 #777;
  	border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	background: #222;
}
a.element,
a.element:hover {
	text-decoration: none;
	color: white;
	outline: none;
}
.element h3 {
	position: absolute;
	font-size: 40px;
	top: 5px;
	right: 10px;
	margin: 0;
	text-transform: capitalize;
	color: #555;
	text-shadow: 0 1px 0 #777;
}
.element h2,
.element p {
	overflow: hidden;
	margin: 0;
}
.element p .legend {
	float: left;
	width: 5em;
	font-weight: bold;
	font-size: 90%;
	color: #aaa;
}
.element p .value {
	font-size: 110%;
}

/* The whole dragndrop story */

.js .element {
	cursor: move;
	user-drag: element;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
}
.js .element:hover {
	background: #333;
}
.touch .element:hover {
	background: #222;
}
.dragndrop-selected,
.js .dragndrop-selected:hover {
	background: #383838;
	border-color: #f80;
}
.dragndrop-dropped,
.js .dragndrop-dropped:hover {
	background: #f80;
}
.dragndrop-placeholder {
	height: 5px;
	background: #f80;
  	border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
}

/* The popup messager */

#messager {
	display: none;
	position: absolute;
	top: -5px;
	left: 10px;
	right: 10px;
	padding: 10px 5px 5px;
	line-height: 15px;
	border: 1px solid #999;
  	border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
	color: #fff;
	background: #222;
	font-weight: bold;
}
